.codegym-logo{
    height: 40px;
}

.heading{
    background-image: url("https://demo.codegym.vn/web/codegym-bootstrap-layout/images/banner.jpg");
    height: 350px;
    padding-top: 100px;
    padding-left: 50px;
    text-transform: uppercase;
    color: #302dff;
    margin-bottom: 10px;
    width: 100%;
}

.codegym-intro{
    padding: 30px;
    background-color: #404040;
    margin: 0;
}
.codegym-intro .col-md-3 img{
    width: 100%;
    padding-top: 20px;
}

.project{
    margin-top: 30px;
    margin-bottom: 30px;
}

.projects{
margin-bottom: 30px;
    text-align: center;
}
.project1{
    padding-bottom: 20px;
}

img{
    padding-bottom: 15px;
    width: 100%;
}

.footer{
    background-color: #302dff;
}
.footer h4{
    color: white;
}
.footer ul{
    list-style: none;
    padding: 0;
}
.footer ul li a{
    color: white;
}

.contact{
    padding-bottom: 20px;
}